* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 120px;
}

.menu {
	background:#0033cc;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

.menu nav {
	text-align: right;
	padding: 10px 20px 0 0;
}

.menu nav ul {
	padding: 0px;
	margin: 0px;
}

.menu nav li {
	display: inline-block;
	text-align: right;
}

.menu nav li a {
	display: block;
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	font-family: cursive;;
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 2px;
	float: left;
}

.menu nav li a::after {
	content: '';
	display: block;
	background: white;
	height: 2px;
	width: 0;
	transition: .3s;
}

.menu nav li a:hover::after, .menu nav li a.active::after {
	width: 100%;
}

.logo {
	display: block;
	color: white;
	/* width: 150px; */
	padding: 10px 10px 14px 20px;
	text-decoration: none;
	font-family: 'Rock Salt', cursive;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
	float: left;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 60px 0;
}

.container::after {
	content: '';
	display: table;
	clear: both;
}

.tab-menu {
	text-align: center;
	margin: 20px 0 40px 0;
}

.tab-menu li {
	display: inline-block;
}

.tab-menu li a {
	display: inline-block;
	color: #0033cc;
	border: 4px solid;
	padding: 10px 0px;
	width: 200px;
	margin: 20px;
	text-decoration: none;
	font-family: 'Playfair Display';
	text-transform: uppercase;
	letter-spacing: 2px;
}
	
h1, h2, h3 {
	font-family: 'Playfair Display';
	font-weight: 900;
}

h1 {
	font-size: 2em;
	text-align: center;
	color: #3B3B3B;
}

.item h2 {
	display: inline-block;
	padding: 0 20px 6px 20px;
	min-width: 200px;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	position: relative;
	top: -120px;
	right: -10px;
	background:  #FF4338;
	color: white;
	letter-spacing: 5px;
}

h3 {
	font-size: 1.4em;
	letter-spacing: 1px;
	color: #0033cc;
}

p {
	font-family: monospace;
	font-size: 1.5em;
	line-height: 1.4;
	color: rgba(0,0,0,.7);
	margin-bottom: 40px;
}

.item-img img {
	display: block;
	max-width: 100%;
	float: right;
}

.item {
	overflow: hidden;
}

.item-img {
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 40px;
	position: relative;
}

.item-info {
	width: 50%;
	float: left;
}

.ar {
	background: rgb(230, 237, 245);
}

.ar .item-img {
	width: 100%;
	text-align: center;
	margin-bottom: -80px;
	padding: 0px;
}

.ar h2 {
	top: -50px;
	right: auto;
}

.ar .item {
	margin: 60px 0;
}

.ar .item-info {
	width: 100%;
}

.item-info > div {
	width: 50%;
	float: left;
}

.js [data-target] {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(-50px,0,0);
	position: absolute;
	top: 0;
}

.js [data-click].active {
	background: #0033cc;
	color: white;
	border-color: #0033cc;
}

.js [data-target].active {
	opacity: 1;
	visibility: visible;
	transition: .3s;
	position: relative;
	top: auto;
	transform: translate3d(0px,0,0);
}

@media only screen and (max-width: 768px) {

.mobile-btn {
	display: block;
	color: white;
	width: 36px;
	height: 36px;
	border-top: 4px solid;
	margin: 20px 20px 0 0;
	float: right;
	position: relative;
	cursor: pointer;
	backface-visibility: hidden;
}

.mobile-btn::after, .mobile-btn::before {
	content: '';
	display: block;
	height: 4px;
	margin-top: 6px;
	background: currentColor;
	position: relative;
	transition: transform .2s ease;
}

.mobile-btn.active {
	border-top-color: transparent;
}

.mobile-btn.active::after {
	margin-top: 0px;
	top: 2px;
	transform: rotate(45deg);
}

.mobile-btn.active::before {
	margin-top: 0px;
	top: 6px;
	transform: rotate(135deg);
}

.menu-nav.mobile-menu {
	position: fixed;
	background: #0033cc;
	padding: 10px;
	top: 60px;
	right: 0px;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(60px, 0px, 0px);
	transition: .3s;
}

.menu-nav.mobile-menu.active {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0px, 0px, 0px);
}

.menu-nav.mobile-menu li {
	display: block;
}

.menu-nav.mobile-menu li a {
	border-top: 2px solid;
	width: 100%;
	text-align: center;
}
	
}

.introducao {
	background: black;
}

.introducao h2 {
	color: white;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: -2em;
	margin-bottom: 2em;
	line-height: 0;
}

.introducao img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.slide {
	position: relative;
	overflow: hidden;
}

.slide > * {
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: .5s;
}

.slide > .active {
	position: relative;
	opacity: 1;
}

.js [data-anime] {
	opacity: 0;
	transform: translate3d(0,-50px,0);
	transition: .3s;
}

.js [data-anime].animate {
	opacity: 1;
	transform: translate3d(0,0,0);
}
















